<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Profile</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../Assets/style/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../Assets/style/style.css">
		<script src="../assets/script/bootstrap.bundle.min.js"></script>
		<script src="../assets/script/jquery-3.6.3.min.js"></script>
    </head>
    <body>
		<header class="navbar navbar-expand-lg navbar-dark bg-dark px-3 mb-4">
			<a class="navbar-brand" href="../products/home.html">The Chosen Shop</a>
			<a href="../products/home.html" class="link-light mx-3 text-decoration-none">Home</a>
			<a href="../products/catalog.html" class="link-light mx-3 text-decoration-none">Catalog</a>
			<div class="text-center align-items-center dropdown right me-3">
				<a class="dropdown-toggle text-light text-decoration-none" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">John Doe</a>
				<ul class="dropdown-menu " aria-labelledby="navbarDropdown">
				    <li><a class="dropdown-item" href="../users/profile.html">Edit Profile</button></a></li>
				    <li><a class="dropdown-item" href="../users/login.html">Logout</a></li>
				</ul>
			</div>
			<div class="text-center me-3">
				<a href="../products/cart.html" class="text-light text-decoration-none">Cart (5)</a>
			</div>
		</header>
		<div class="container-lg px-1">
			<div class="row mb-3">
				<h1 class="display-4 fw-bold pb-2">Edit Profile</h1>
				<div class="col-md-6 p-3 jumbotron center border bg-light ">  
					<h2 class="display-6 fw-bold pb-2">Information</h2>
					<form action="" method="post">
						<input type="hidden" class="form-label" name="<?=$this->security->get_csrf_token_name();?>" value="<?=$this->security->get_csrf_hash();?>"/>
						<label class="form-label " for="email">Email:</label>
						<input class="form-control" type="email" name="email"/>
						<label class="form-label " for="first_name">First Name:</label>
						<input class="form-control" type="text" name="first_name"/>
						<label class="form-label " for="last_name">Last Name:</label>
						<input class="form-control" type="text" name="last_name"/>
						<div class="text-danger">
							<?=$errors_profile_info?>
						</div>
						<div class="text-success">
							<?=$success_profile_info?>
						</div>
						<input class="center btn btn-success mt-2 right" id="submit" type="submit" value="Save"/>
					</form>
				</div>
				<div class="col-md-6 p-3 jumbotron center border bg-light ">
					<h2 class="display-6 fw-bold pb-2">Password</h2>
					<form action="" method="post">
						<input type="hidden" class="form-label" name="<?=$this->security->get_csrf_token_name();?>" value="<?=$this->security->get_csrf_hash();?>"/>
						<label class="form-label " for="password">Old Password:</label>
						<input class="form-control" type="password" name="old_password" required/>        
						<label class="form-label " for="password">New Password:</label>
						<input class="form-control" type="password" name="password" required/>
						<label class="form-label " for="password2">Confirm Password:</label>
						<input class="form-control" type="password" name="password2" required/>
						<div class="text-danger">
							<?=$errors_profile_pass?>
						</div>
						<div class="text-success">
							<?=$success_profile_pass?>
						</div>
						<input class="center btn btn-success mt-2 right" id="submit" type="submit" value="Save"/>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
